body{
    background-image: url(crowley.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

section{
    margin-top: 0;
}

.underline{
    width: 500px;
    margin-top: 0;
    height: 80px;
    margin-left: 40px;
}

h1{
    text-align: left;
    font-size: 8rem;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 65px;
    color: rgb(114, 114, 95);
}

p{
    color: rgb(0, 0, 0);
    font-size: 1.8rem;
}

.callout {
    position: fixed;
    top: 280px;
    left: 10px;
    margin-left: 10px;
    max-width: 600px;
    background-color: rgba(138, 88, 88, 0.514);
    border-radius: 2rem;
    padding: 8px;
    margin-top: 80px;
  }

  

  
.navbar {
    overflow: hidden;
    background-color: rgba(12, 33, 49, 0.445);
    border-radius: 2rem;
    
  }
  
  
  .navbar a {
    float: left;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 13px 40px;
    text-decoration: none;
    padding-left: auto;
    padding-right: auto;
    
    
    
  }
  
  
  
  .navbar a:hover {
    background-color: rgba(255, 137, 137, 0.411);
    color: black;
    transition: 1s;
    border-radius: 2rem;
  
  }